html, body {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
}

.body__menu {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  font-size: 1.5em;
}

h3 {
  margin: 3%;
  font-weight: 600;
  font-size: 1.1em;
}

p {
  font-weight: 300;
  font-size: 1.2em;
  margin: 3%;
}

.header {
  background-color: #FFF;
}
.header .title {
  font-family: shrikhand;
  text-align: center;
  padding: 1.5%;
  margin: 0;
  font-weight: 600;
  background-color: #fff;
}
.header .title__arrows {
  font-size: 1.3em;
  color: #5a5a5a;
  position: absolute;
  left: 10px;
  top: 20px;
}
.header .title__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 300px;
}
@media screen and (min-width: 800px) {
  .header .title__img {
    max-height: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .header .title__img {
    max-height: 450px;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 8%;
  margin-top: auto;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 5%;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    padding: 3%;
  }
}
.footer__title {
  margin: 0 0 3% 0;
  font-family: shrikhand;
  font-weight: 100;
  font-size: 1.3rem;
}
.footer__section {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 1024px) {
  .footer__section {
    display: flex;
  }
}
.footer__section li {
  margin-bottom: 3%;
}
@media screen and (min-width: 1024px) {
  .footer__section li {
    flex: 1;
  }
}
.footer__section li a {
  color: #FFF;
  text-decoration: none;
}
.footer__section li span {
  width: 15px;
  margin: 1%;
}

.working {
  margin: 10% 3% 10% 3%;
}
@media screen and (min-width: 1024px) {
  .working {
    margin: 5% 3% 5% 5%;
  }
}
@media screen and (min-width: 1440px) {
  .working {
    margin: 1% 3% 1% 3%;
  }
}
.working__title {
  margin-bottom: 2%;
}
.working__step {
  list-style: none;
  padding: 0 5%;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .working__step {
    display: flex;
    justify-content: space-around;
  }
}

.step {
  display: flex;
  padding: 3% 0 3% 0;
  border-radius: 1rem;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  margin: 8% 0% 8% 0%;
  background-color: #f2f2f2;
  align-items: center;
}
.step:hover {
  background-color: #f5edff;
}
@media screen and (min-width: 1024px) {
  .step {
    margin: 3%;
    width: 100%;
    flex-direction: column;
    padding: 0;
    height: 200px;
  }
}
.step__numbers {
  color: #FFF;
  background-color: #9356DC;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #9356dc;
  text-align: center;
  line-height: 1.6rem;
  color: #fff;
  font-weight: 500;
  border-radius: 50%;
  margin-left: -1rem;
  margin-right: 1rem;
}
@media screen and (min-width: 1024px) {
  .step__numbers {
    margin: -0.5rem 0 0 0;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
  }
}
.step i {
  color: #555555;
  margin-right: 10%;
  font-size: 20px;
}
@media screen and (min-width: 1024px) {
  .step i {
    margin: 60px 0 0 0;
  }
}
.step:hover i {
  color: #9356DC;
}
.step__text {
  font-weight: 700;
  font-size: 1em;
}
@media screen and (min-width: 800px) {
  .step__text {
    font-size: 1.2em;
  }
}

.restaurants {
  background-color: #f2f2f2;
  padding: 5% 5% 6% 5%;
}
@media screen and (min-width: 800px) {
  .restaurants {
    padding: 5% 2% 5% 2%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 1% 2% 1% 2%;
  }
}
.restaurants__title {
  max-width: 1080px;
  margin: auto;
}
@media screen and (min-width: 800px) {
  .restaurants__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__content {
    max-width: 1080px;
    margin: auto;
  }
}
.restaurants__card {
  position: relative;
  display: block;
  text-decoration: none;
  color: black;
  background-color: #FFF;
  margin-bottom: 10%;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
@media screen and (min-width: 800px) {
  .restaurants__card {
    width: 350px;
    margin: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__card {
    width: 450px;
  }
}
.restaurants__card__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  height: 13rem;
  position: relative;
}
@media screen and (min-width: 800px) {
  .restaurants__card__image {
    height: 16em;
  }
}
.restaurants__card .new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  padding: 1%;
  border-radius: 5px;
}
.restaurants__card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}
.restaurants__card__title {
  margin: 0;
}
.restaurants__card__location {
  margin: 0 0 10% 0;
}
.restaurants a {
  text-decoration: none;
  color: black;
}

.menu {
  background-color: #f2f2f2;
  position: relative;
  bottom: 60px;
  padding: 10% 3% 3% 3%;
  border-radius: 3rem 3rem 0 0;
}
@media screen and (min-width: 1024px) {
  .menu {
    padding: 3% 0 0 0;
  }
}
.menu__heading {
  display: flex;
  justify-content: space-between;
  margin: 0 4% 10% 4%;
}
@media screen and (min-width: 1024px) {
  .menu__heading {
    margin: 0 5% 0 5%;
  }
}
.menu__heading h2 {
  margin: 0;
  font-family: shrikhand;
  font-weight: 500;
}
.menu__heading i {
  margin-top: 5px;
  font-size: 25px;
}

@media screen and (min-width: 1024px) {
  .dish {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .entre {
    width: 30%;
  }
}
.entre__title {
  border-bottom: solid 3px #99E2D0;
  width: 10%;
  padding-bottom: 1%;
  font-weight: 300;
  margin-top: 10%;
}
.entre__content {
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  margin: 5% 0 5% 0;
  background-color: #f2f2f2;
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: space-between;
  max-height: 100px;
}
.entre__content__title {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-duration: 800ms;
}
.entre__content__prix {
  margin-top: 8%;
  margin-right: -10%;
  transition: transform 800ms ease-in-out;
}

@media screen and (min-width: 1024px) {
  .plat {
    width: 30%;
  }
}
.plat__title {
  border-bottom: solid 3px #99E2D0;
  width: 10%;
  padding-bottom: 1%;
  font-weight: 300;
  margin-top: 10%;
}
.plat__content {
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  margin: 5% 0 5% 0;
  background-color: #f2f2f2;
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: space-between;
  max-height: 100px;
}
.plat__content__title {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-duration: 800ms;
}
.plat__content__prix {
  margin-top: 8%;
  margin-right: -10%;
  transition: transform 800ms ease-in-out;
}

@media screen and (min-width: 1024px) {
  .desserts {
    width: 30%;
  }
}
.desserts__title {
  border-bottom: solid 3px #99E2D0;
  width: 10%;
  padding-bottom: 1%;
  font-weight: 300;
  margin-top: 10%;
}
.desserts__content {
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  margin: 5% 0 5% 0;
  background-color: #f2f2f2;
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: space-between;
  max-height: 100px;
}
.desserts__content__title {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-duration: 800ms;
}
.desserts__content__prix {
  margin-top: 8%;
  margin-right: -10%;
  transition: transform 800ms ease-in-out;
}

.location {
  display: flex;
  background-color: #c0c0c067;
  justify-content: center;
  border-top: #d5d5d5 3px solid;
}
.location i {
  margin-top: 2.5%;
  font-size: 120%;
}

.info {
  background-color: #f2f2f2;
  padding: 10% 10% 15% 10%;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .info {
    padding: 5% 0 5% 0;
  }
}
@media screen and (min-width: 1024px) {
  .info {
    padding: 2% 0 3% 0;
  }
}
.info__title {
  margin: 0;
}
.info__text {
  margin-bottom: 10%;
}
@media screen and (min-width: 1024px) {
  .info__text {
    margin-bottom: 3%;
  }
}
.info__button {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 1px 5px black;
  border: none;
  border-radius: 10rem;
  color: white;
  padding: 18px 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.commande__buton {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 1px 5px black;
  border: none;
  border-radius: 10rem;
  color: white;
  padding: 18px 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  width: 60%;
  margin: 10% 0% 0% 20%;
}
@media screen and (min-width: 1024px) {
  .commande__buton {
    margin: 15% 0 0 20%;
  }
}

.box {
  width: 70px;
  height: 100px;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 800ms ease-in-out;
  position: relative;
}
.box i {
  color: #FFF;
  transition: transform 800ms ease-in-out;
}

.entre__content:focus .box {
  transform: scaleX(1);
}
.entre__content:focus .box i {
  transform: rotate(1turn);
}
.entre__content:focus .entre__content__title {
  width: calc(90% - 110px);
}

.entre__content.anim1 {
  animation: anim 800ms ease-in-out;
  transform-origin: bottom;
  opacity: 0;
  animation-fill-mode: both;
}
.entre__content.anim2 {
  animation: anim 800ms ease-in-out;
  transform-origin: bottom;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 150ms;
}
.entre__content.anim3 {
  animation: anim 800ms ease-in-out;
  transform-origin: bottom;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 300ms;
}
.entre__content.anim4 {
  animation: anim 800ms ease-in-out;
  transform-origin: bottom;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 450ms;
}

.plat__content:focus .box {
  transform: scaleX(1);
}
.plat__content:focus .box i {
  transform: rotate(1turn);
}
.plat__content:focus .plat__content__title {
  width: calc(90% - 110px);
}

.plat__content.anim1 {
  animation: anim 800ms ease-in-out;
  transform-origin: bottom;
  opacity: 0;
  animation-fill-mode: both;
}
.plat__content.anim2 {
  animation: anim 800ms ease-in-out;
  transform-origin: bottom;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 150ms;
}
.plat__content.anim3 {
  animation: anim 800ms ease-in-out;
  transform-origin: bottom;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 300ms;
}

.desserts__content:focus .box {
  transform: scaleX(1);
}
.desserts__content:focus .box i {
  transform: rotate(1turn);
}
.desserts__content:focus .desserts__content__title {
  width: calc(90% - 110px);
}

.desserts__content.anim1 {
  animation: anim 800ms ease-in-out;
  transform-origin: bottom;
  opacity: 0;
  animation-fill-mode: both;
}
.desserts__content.anim2 {
  animation: anim 800ms ease-in-out;
  transform-origin: bottom;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 150ms;
}
.desserts__content.anim3 {
  animation: anim 800ms ease-in-out;
  transform-origin: bottom;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 300ms;
}

@keyframes anim {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.loading {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  max-height: 0;
  animation: loader 2.5s linear;
}
.loading__animation {
  border-bottom: 15px solid #ffc6ef;
  border-left: 5px dashed #FF79DA;
  border-right: 5px dashed #9356DC;
  border-top: 15px solid #d7c0f2;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2.3s linear infinite;
}
.loading__animation i {
  font-size: 100px;
  color: #9356DC;
  animation: icon 1.8s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes icon {
  0% {
    transform: rotate(0);
  }
  100% {
    color: #FF79DA;
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0%, 90% {
    height: 100vh;
    max-height: 100vh;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
.like {
  font-size: 20px;
  margin-bottom: 5%;
  position: absolute;
  right: 25px;
  bottom: 5px;
}
.like .far {
  color: black;
  font-size: 35px;
  position: relative;
}
.like .fas {
  position: absolute;
  font-size: 35px;
  right: 0px;
  bottom: 0px;
  color: #9356DC;
  transition: all 1.2s ease-in-out;
  transform: scale(0);
  transform: rotateY(90deg);
  opacity: 0.5;
}

.like:focus .fas {
  transform: scale(1);
  transform: rotateY(360deg);
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
