$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-background:#f2f2f2;
$font-heading: shrikhand;
$font-text:roboto;

@mixin bouton {
        background: linear-gradient($color-secondary,$color-primary );
        box-shadow: 0px 1px 5px black;
        border: none;
        border-radius: 10rem;
        color: white;
        padding: 18px 35px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
}

@mixin section_menu {
        border-bottom: solid 3px $color-tertiary;
        width: 10%;
        padding-bottom: 1%;
        font-weight: 300;
        margin-top: 10%;
}

@mixin card_menu {
            display: flex;
            border-radius: 1rem;
            box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
            margin: 5% 0 5% 0;
            background-color: $color-background;
            text-decoration: none;
            color: black;
            align-items: center;
}


html, body{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    font-family: $font-text;
    font-weight: 500;
}

.header {
    .title {
        font-family: $font-heading;
        text-align: center;
        margin: 2%;
        font-weight: 600;
        &__arrows {
            font-size: 1.3em;
            color: #5a5a5a;
            position: absolute;
            left: 10px;
            top: 20px;
        }
        &__img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            max-height: 300px;
        }
    }
}
h3 {
    margin: 3%;
    font-weight: 600;
}
p {
    font-weight: 300;
    margin: 3%;
}

.menu {
    background-color: #f2f2f2;
    position: relative;
    bottom: 60px;
    padding: 10% 3% 3% 3%;
    border-radius: 3rem 3rem 0 0;
    &__heading {
        display: flex;
        justify-content: space-between;
        margin: 0 4% 10% 4%;
        & h2 {
            margin: 0;
            font-family: $font-heading;
            font-weight: 500;
        }
        & i {
            margin-top: 5px;
            font-size: 25px;
        }
    }
}

.entre {
        &__title {
            @include section_menu ;
        }
        &__content {
            @include card_menu ;
            &__title {
                width: 85%;
            }
            &__prix {
                margin-top: 8%;
            }
    }
}

.plat {
    &__title {
            @include section_menu ;
        }
        &__content {
            @include card_menu ;
            &__title {
                width: 85%;
            }
        &__prix {
            margin-top: 8%;
        }
    }
}

.desserts {
    &__title {
        @include section_menu ;
    }
    &__content {
        @include card_menu ;
        &__title {
            width: 85%;
        }
        &__prix {
            margin-top: 8%;
        }
    }
}

.commande__buton {
    @include bouton;
    width: 60%;
    margin: 10% 0% 20% 20% ;
}

.location {
    display: flex;
    background-color: #c0c0c067;
    justify-content: center;
    border-top: #d5d5d5 3px solid;
    & i{
        margin-right: 5%;
        margin-top: 15px;
        font-size: 120%;
    }
}

.info {
    background-color: $color-background;
    padding: 10% 10% 15% 10%;
    text-align: center;
    &__title{
        margin: 0;
    }
    &__text{
        margin-bottom: 10%;
    }
    &__button {
        @include bouton
    }
}

.working {
    margin: 10% 3% 10% 3%;
    &__title {
        margin-bottom: 2%;
    }
    &__step {
        list-style: none;
        padding:0 5%;
        margin: 0;
    }
}

.step {
    display: flex;
    padding: 3% 0 3% 0;
    border-radius: 1rem;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
    margin: 8% 0% 8% 0%;
    background-color: $color-background;
    align-items: center;
    &__numbers {
        color: #FFF;
        background-color: $color-primary;
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        background-color: #9356dc;
        text-align: center;
        line-height: 1.6rem;
        color: #fff;
        font-weight: 500;
        border-radius: 50%;
        margin-left: -1rem;
        margin-right: 1rem;
    }
    & i {
        color: #555555;
        margin-right: 10%;
        &:hover {
            color: $color-primary;
        }
    }
    &__text {
        font-weight: 700;
    }
}

.restaurants {
    background-color: $color-background;
    padding: 8% 5% 6% 5%;
    &__card {
        position: relative;
        display: block;
        text-decoration: none;
        color: black;
        background-color: #FFF;
        margin-bottom: 10%;
        box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
        &__image {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            border-radius: 1rem 1rem 0 0;
            height: 13rem;
        }
        &__body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5%;
        }
        &__title {
            margin: 0;
        }
        &__location {
            margin: 0 0 10% 0;
        }
        .like {
            font-size: 20px;
            margin-bottom: 5%;
            & i {
                color: $color-primary;

            }
        }
    }
    & a {
        text-decoration: none;
        color: black;
    }
}

.footer {
    background-color:#353535;
    color: white;
    padding: 8%;
    &__title {
        margin: 0 0 5% 0;
        font-family: $font-heading;
        font-weight: 100;
        font-size: 1.1rem;
    }
    &__section {
        margin: 0;
        padding: 0;
        list-style: none;
        & li {
            margin-bottom: 3%;
            & a {
                color: #FFF;
                text-decoration: none;
            }
            & span {
                margin: 1%;
            }
        }
    }
}
   