.commande__buton {
    @include bouton;
    width: 60%;
    margin: 10% 0% 0% 20% ;
    @include laptop{
        margin: 15% 0 0 20%;
    }
}
button:hover {
    opacity: 0.8;
    transition: opacity $anim-time ease;
}
button:not(:hover) {
    opacity: 1;
    transition: opacity $anim-time ease;
}